/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes.*/

body {
	background-color: WhiteSmoke;
}

div.introduction {
	text-align: justify;
	margin-left: 30px;
	font-size: 20px;
	font-style: normal;
}

div.information {
	text-align: justify;
	margin-left: 30px;
	font-size: 20px;
	font-style: normal;
}

p {
	color: black;
	text-align: justify;
	font-style: italic;
	font-size: 20px;
}

h1 {
	color: navy;
	text-align: center;
}

h2 {
	color: SteelBlue;
	margin-left: 10px;
}

h3 {
	color: MidnightBlue;
	text-align: center;
}

ul {
	list-style-type: square;
	margin-left: 30px;
}

ol {
	list-style-type: upper-roman;
	margin-left: 30px;
}

img {
	max-width: 100%;
	height: auto;
}
